a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html,
body {
  margin: 0px !important;
  padding: 0px !important;
  /* font-family: "Cutive Mono", monospace !important; */
}

.layoutContainer {
  height: 100vh;
}

.typeFont {
  font-family: "Cutive Mono", monospace;
}

.noDecoration:hover {
  text-decoration: none !important;
}

.projectsList {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  padding: 20px;
  grid-gap: 25px;
}

@media (max-width: 900px) {
  .projectsList {
    grid-template-columns: 1fr;
  }
}
